*{
    padding: 0;
    margin: 0;
}

#body{
    background-color: activeborder;
    max-height: 1200px;
}

#logosal{
    margin-top: 10%;
    width: 40%;
    margin-left: 35%;
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}
#logosal label{
    margin-left: 35%;
    margin-top: 1.2em;
    position: relative;
    display: block;
    font-size: 1em;
}
#logosal input{
    margin-left: 35%;
  
}
#logbutton{
    margin-top: 2em;
    margin-bottom: 3em;
}
#header{
    width: 100%;
    text-align: right;
}

#content{
    
    padding-top: 5%;
    max-width: 60%;
    margin: auto;
   border: 1px solid black;
    text-align: center;
    
}
#buttonc{
    
    background-color: beige;
    font-size: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid grey;
    margin-left: 0.5em;
    text-decoration: none;
    border-radius: 2em 2em;
    color: black;
}

#calculater{
    float: left;
   
    margin-top: 10%;
    margin-left: 3em;
    width: 20%;
    
    border: 1px solid black;
}

.cbutton{
    clear: both;
    width: 9em;
    margin-bottom: 0.9em;
    margin-left: 1em;
}

.cbutton:active, .active{
    background-color: red;
}
.cbutton1{
    clear: both;
    width: 9em;
}

.cbutton1:active, .active{
    background-color: red;
}



.operatorbutton{
    margin: auto;
    float: left;
    width: 4em;
    height: 3em;
}
.clear{
    clear: both;
}
.operatorbutton1{
    margin-top: 0.9em;
    float: left;
    width: 4em;
    height: 3em;
}
.operatorbutton2{
    margin-top: 0.9em;
    float: left;
    width: 4em;
    height: 3em;
}
.operatorbutton3{
    margin-top: 0.9em;
    float: left;
    width: 4em;
    height: 3em;
}

#vorschau{
    float: left;
    margin-top: 10%;
    width: 26%;
    height: 500px;
    border: 1px solid black;
   
}
#vorschau2{
    float: left;
    margin-top: 10%;
    width: 26%;
    height: 500px;
    border: 1px solid black;
   
}